In [1]:
#1. Create one variable containing following type of data:
#(i)	string

a = 'asad'
type(a)

str

In [2]:
#(ii)	list
lst = ["1","DS", True]
type(lst)

list

In [3]:
#(iii)	float
f = 1.234
type(f)

float

In [4]:
#(iv)	tuple
t = (1,2,3,4)
type(t)

tuple

In [5]:
#2. Given are some following variables containing data:

#(i)	var1 = ‘ ‘
#Ans : str

In [6]:
#(ii)	var2 = ‘[ DS , ML , Python]’
#Ans : str

In [7]:
#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#Ans : list

In [8]:
#(iv)	var4 = 1.
#Ans : float

In [9]:
#Q3. Explain the use of the following operators using an example:

#(i)	/
# Ans: / does actual division and return float in response

#(ii)	% 
#Ans : % provides remainder in response

#(iii)	//
# Ans : // does integer devision and return integer in response.

#(iv)	*
#Ans: * is used fur multiplication

In [10]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type
lst = [1,True,3,4,'fruit',1.5,4,'apple',False, 2.0]
for i in lst :
    print(i)
    print(type(i))

1
<class 'int'>
True
<class 'bool'>
3
<class 'int'>
4
<class 'int'>
fruit
<class 'str'>
1.5
<class 'float'>
4
<class 'int'>
apple
<class 'str'>
False
<class 'bool'>
2.0
<class 'float'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible.

A = int(input()) 
B = int(input())
C = A
count = 0
while A % B == 0:
    count += 1
    A = A // B

if count > 0:
    print(f"{B} divides {C} {count} times")
else:
    print(f"{A} is not divisible by {B}")

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not.

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lst :
    if(i % 3 == 0):
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

In [ ]:
 #Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#this property.
#Ans : string is immutable, we can't change character of a string using index, example below-
a = 'asad'
a[2]
a[2] = 'aa' # here we will get str' object does not support item assignment

In [ ]:
# collections are mutable, we can change value in list. example below-
lst = [1,"asad", True]
lst

In [ ]:
lst[1] = "razi"
lst[2] = False
lst